* {
  margin: 0;
  padding: 0;
}
.text {
  color:#3f3258;
  background-color: aqua;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}
#page1 {
  height: 95vh;
  width: 95vw;
}
.box-car-1 {
  position: fixed;
  right: 15vw;
  top: 33%;
  height: 40vh;
  width: 35vw;
  background-color: #3f3258;
  border: 2px solid white;
  border-radius: 35% 55% 35% 64%;
}
.box-2-car-1-queue {
  position: fixed;
  right: 45vw;
  top: 67%;
  height: 18vh;
  width: 18vw;
  background-color: #3f3258;
  border: 2px solid white;
  border-radius: 35% 55% 35% 64%;
}
.box-3-car-1-next-to-queue {
  position: fixed;
  right: 64vw;
  top: 75%;
  height: 14vh;
  width: 16vw;
  background-color: #3f3258;
  border: 2px solid white;
  border-radius: 35% 55% 35% 64%;
}
.box-4-car-1-next-to-next-queue {
  position: fixed;
  right: 81vw;
  top: 77%;
  height: 15vh;
  width: 14vw;
  background-color: #3f3258;
  border: 2px solid white;
  border-radius: 35% 55% 35% 64%;
}
.box-4-gone-car-1 {
  position: fixed;
  right: 0vw;
  top: 18%;
  height: 18vh;
  width: 19vw;
  background-color: #3f3258;
  border: 2px solid white;
  border-radius: 35% 55% 35% 64%;
}

.box-car-1,
.box-2-car-1-queue,
.box-3-car-1-next-to-queue,
.box-4-car-1-next-to-next-queue,
.box-4-gone-car-1 {
  position: fixed;
  background-size: cover;
  background-position: center;
}
.main-car {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.car-name{
  background-image: url(./background-images/bolero-2.png);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 7em;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  height: 13vh;
  width: 32VW;
  box-shadow: black;
  position: fixed;
  top: 10%;
  left: 20%;
  font-style: normal;
  font-optical-sizing: auto;
  text-shadow:-8px -8px 2px #3f3258;
}
.previous-btn{
 
  /* position: fixed;
  top: 53%; */
  left: 48%;
}
.next-btn{
  /* position: fixed;
  top: 53%; */
  left: 85%;
}

.previous-btn,
.next-btn {
  position: fixed; 
  top: 50%; 
  transform: translateY(-50%); 

}

.icons-control{
  height: 40px;
  cursor:pointer;

}
#car-name{
  position: fixed;
  top: 30%;
  left: 10%;
  font-family:"Roboto Slab", serif;
  font-weight: 400;
  text-align: left;
  font-size: 1.5em;
}