.sidebar {
  background-color: rgb(234, 222, 222);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 5vw;
  height: 100vh;
  z-index: 2;
  transition: width 0.5s ease-in-out;
}
.slider-in-out {
  height: 50px;
  transition: all 0.5s ease;
  width: max-content;
  color: #3f3258;
  padding: 0px 15%;
  margin: 1vh 1vh;
}

.in-out {
  padding: 2px 0;
  height: 66px;
}

.icons-sidebar {
  height: 50px;
  width: max-content;
  color: #3f3258;
}

.hr{
  width: auto;
  height: 1px;
}